.root
{
	-fx-background-color: #808080; 
}

.menu-bar
{
	-fx-background-color: #808080;
}

.context-menu 
{
	-fx-background-color: #808080;
}

.menu
{
	-fx-background-color: #808080;
}

.menu .label
{
	-fx-text-fill: white;
}

.menu:hover .label
{
	-fx-font-weight: bold;
}

.menu-item
{
	-fx-background-color: #808080;
}

.menu-item .label
{	
	-fx-text-fill: white;
}

.menu-item:focused .label
{
    -fx-font-weight: bold;
}

.text-area .content
{
	-fx-background-color: #333333;
	-fx-text-fill: white;
}

.text-field
{
	-fx-background-color: #4d4d4d;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

/* main #333333 */
/* orange #D96C06 */
/* gray #F5EFED */
/* green 73937E */